*{
    box-sizing: border-box;
}
:root{
    --main-color: rgb(227, 14, 14);
    --title-font-size:20px;
}
h1{
    color: var(--main-color);
    font-size: var(--title-font-size);
}
h2{
    color: var(--main-color);
    font-size: var(--title-font-size);

}