p{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 40px;
}
.style-div{
    margin: 50px auto;
    width: 300px; 
    height: 300px;
    border: 1px solid black;
    background-color: yellow;
    border-radius: 40px;
    font-size: 24px;
    /* overflow: hidden; */
    /*overflow-x: auto;
    overflow-y: auto; */
}
a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.logo{
    display: inline-block;
    width: 700px;
    background-color: white;
    margin: 0 auto;
    font-size: 47px;
}
nav{
    display: inline-block;
    font-size: 36px;
    width: 627px;  
    height: 45px;
    text-align: right;
    background-color: white;
    gap: 32px;   
    margin: 0 auto;
}
button{
    border: 2px solid blue;
    text-align: center;
    padding: 5px 10px;
    background: white;
}
.container{
    margin: 50px auto;
    width: 1512px; 
    height: 96px;
}